:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.bg-perso1{
  background-color: antiquewhite;
  height: 100vh !important;
}

.bg-perso2{
  background-color: rgb(252, 223, 186);
}

.btn-perso{
  background-color: rgb(255, 206, 142);
  border: solid 1px rgb(189, 152, 105);
  margin-top: 0.5em;
}

.btn-perso:hover{
  background-color: rgb(230, 180, 116);
  border: solid 1px rgb(151, 122, 83);
}

.fs-1-5em{
  font-size: 1.5em;
}